  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white mt-4">
        <h1 class="display-4">Arsi blog</h1>
        <p class="lead">Plublies tes passions, à ta façon</p>
        <hr class="my-4">
        <p>C'est facile et gratuit lances toi</p>
        <%= link_to 'Sign up!', signup_path , class: "btn btn-success btn-lg text-white" %>
    </div>  
</div> 
  
 

