@import 'bootstrap/dist/css/bootstrap';
// body{
//   margin: 0 !important;
//   padding: 0 !important;
// }

html, body {
  height: 100% !important;
  margin: 0 !important;
}

#page-content{
  flex: 1 0 auto;
  background-color: lightgrey;
}



.navbar {
  background-color:black !important;
} 

.nav-link {
  color: white !important;
}

#logo {
  float: left !important;
  font: 1.7em !important;
  color: #fff !important;
  text-transform: uppercase !important;
  letter-spacing: -1px !important;
  font-weight: bold !important;
}

.jumbotron{
  background-image: asset-url('jumbo-copy.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 425px;
}
#sticky-footer{
  flex-shrink: none;
}

.m2{
  margin-top: 4em !important;
}
  
  