<div class="jumbotron">
      <h1 class="display-4">Alpha blog</h1>
      <p class="lead">Plublies tes passions, à ta façon</p>
      <hr class="my-4">
      <p>C'est facile et gratuit lances toi</p>
      <a class="btn btn-success btn-lg" href="#" role="button"> Sign up!</a>
</div>